/*------------ FOR DEBUG
-------------------------------------------------- */

/* .row div {
        border: 1px solid #c93d3d;
    } */

/* ----------- Actual CSS
-------------------------------------------------- */

/* --------- PHP Program CSS -------------------------*/

.form_validate_error {
    display: inline-block;
    color: rgb(219, 6, 6);
    padding-left: 1em;
    max-width: 350px;
  }

.w-fit-content{
    width: fit-content;
}

.w-min-content{
    width: min-content;
}
